/* Corpo principale */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding: 0;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: black;
    position: relative;
    z-index: 10;
}

.main-content {
    margin-top: 0;
    width: 100%;
}

.menu-item {
    margin: 0 10px;
    text-decoration: none;
    color: #0a899a;
    font-weight: bold;
}

.menu-item:hover {
    color: #0a899a;
}

/* Barra di ricerca */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-bar button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #0a899a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color:
            #1aa9b2;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-dropdown.show {
    display: block;
}

/* Bottoni di azione */
#actions a, #actions button {
    color: white;
    background-color: #0a899a;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

#actions a:hover, #actions button:hover {
    background-color: #1aa9b2;
}

/* Layout dei Progetti */
.card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

/* Sezione di contenitore progetti */
.container {
    margin-top: 30px;
}

.row {
    margin-bottom: 30px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #0a899a;
    color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

/* Media Query per mobile */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #actions {
        margin-top: 10px;
    }

    .titleWebSite {
        font-size: 1.5rem;
    }

    .card {
        font-size: 0.9rem;
    }

    .card-body {
        padding: 15px;
    }
}
.logo {
    max-width: 200px;
    height: auto;
    display:block;
    margin: 0 auto;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden; /* Per assicurarsi che i bordi arrotondati funzionino */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Effetto ombra */
    border: none; /* Rimuove i bordi predefiniti */
}

.table-rounded thead {
    background-color: #0a899a; /* Colore di sfondo per l'intestazione */
    color: white; /* Colore del testo */
}

.table-rounded tbody tr {
    transition: transform 0.3s, box-shadow 0.3s; /* Animazione al passaggio del mouse */
}

.table-rounded tbody tr:hover {
    transform: translateY(-5px); /* Solleva la riga */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.table-rounded td, .table-rounded th {
    padding: 15px; /* Spaziatura interna */
    vertical-align: middle; /* Allineamento verticale */
}