nav {
    background: linear-gradient(135deg, #e0f7fa, #b3eafb);
}

.btn {
    background-color: #0a899a !important;
    border: none !important;
}
.btn:hover {
    background-color: #1aa9b2 !important;
}
.nav-link {
    position: relative;
    display: inline-block;
    color: #0a899a !important;
    font-weight: bold !important;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #0a899a;
    transition: transform 0.3s ease;
}
.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* Barra di ricerca */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-dropdown.show {
    display: block;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./font/Cinzel-Regular.ttf') format('truetype');
    font-weight: light;
    font-style: light;
}
.titoli {
    font-size: 3rem;
    line-height: 1.1;
    font-family: 'Cinzel', serif;
    font-weight: light;
    color: #0a899a;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.1;
    padding-left: 5px;
}
.custom-line {
    border: 0;
    border-top: 3px solid #0a899a;
    width: 100%;
    opacity: 70%;
    margin-bottom: 30px;
}

/* Layout dei Progetti */
.card {
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0a899a !important;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

/* Footer */
footer {
    width: 100%;
    background: linear-gradient(135deg, #e0f7fa, #b3eafb);
    color: #0a899a;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

/* Media Query per mobile */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #actions {
        margin-top: 10px;
    }

    .titleWebSite {
        font-size: 1.5rem;
    }

    .card {
        font-size: 0.9rem;
    }

    .card-body {
        padding: 15px;
    }
}
.logo {
    max-width: 200px;
    height: auto;
    display:block;
    margin: 0 auto;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden; /* Per assicurarsi che i bordi arrotondati funzionino */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Effetto ombra */
    border: none; /* Rimuove i bordi predefiniti */
}

.table-rounded thead {
    background-color: #0a899a; /* Colore di sfondo per l'intestazione */
    color: white; /* Colore del testo */
}

.table-rounded tbody tr {
    transition: transform 0.3s, box-shadow 0.3s; /* Animazione al passaggio del mouse */
}

.table-rounded tbody tr:hover {
    transform: translateY(-5px); /* Solleva la riga */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.table-rounded td, .table-rounded th {
    padding: 15px; /* Spaziatura interna */
    vertical-align: middle; /* Allineamento verticale */
}
